* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #00a2ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    height: 430px;
    width: 320px;
    background-color: #000;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

#storiyan {
    height: 90px;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 15px;
    border-bottom: 1px solid #00a2ff;
    position: relative;
}

.status {
    position: absolute;
    bottom: 20px;
    left: 80px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.status h4 {
    font-size: 13px;
}

.status h5 {
    font-size: 11px;
}

.story {
    height: 50px;
    border: 2px solid green;
    border-radius: 50%;
    width: 50px;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;

}

i {
    z-index: 4;
    position: absolute;
    bottom: 13px;
    left: 42px;
    color: greenyellow;
}

.story img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;

}

#full-screen {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    display: none;
    position: relative;
}

#h1 {
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 1.2rem;
    color: black;
}

.showStatus {
    height: 340px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 16px;
}

.showStatus::-webkit-scrollbar {
    display: none;
}

.showStatus h6 {
    font-size: 14px;
    font-weight: 100;
    color: #969393;
}

.statusItem {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    margin-top: 15px;

}

.showStory {
    height: 50px;
    width: 50px;
    border: 2px solid green;
    border-radius: 50%;
    overflow: hidden;
}

.showStory img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.StatusInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.StatusInfo h4 {
    font-size: 14px;
    font-weight: 300;

}

.StatusInfo h5 {
    font-size: 12px;
    color: #969393;
    font-weight: 100;

}